@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    width: 100%;
    height: 100%;
    /*border: blueviolet 10px solid;*/
}
#main-container{
    width: 100%;
    height: 100%;
    /*border: solid black 5px;*/
}
#menu{
    display: flex;
    flex-direction: column;
    width: 95%;
    height:fit-content;
    align-items: flex-start;
    margin-top: 2.5%;
    margin-bottom: 1%;
    /*border: solid 5px brown;*/
}
ul {
    list-style-type: none;
    padding: 1em;
    margin: 0;
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    background-color:#31a4ebc2;
  }
.nav-bar {
    width: 6vw;
    height: 4vh;
    padding: 0;
    margin: 0;
    color:black;
    font-size: 1.15vw;
    font-weight: 400;

}
.nav-bar:hover {
    background-color: salmon;
    padding: 1em;
}
a{
    text-decoration: none;
    overflow: scroll;
}
a:hover{
    background-color: salmon;
    padding: 1em;
    box-shadow: 10px 10px 5px 12px #F0F2B3;
}
#video-hidden{
    display: block;
    margin-left: 13%;
    margin-top: 5%;
    border: black 7px solid;
}
.options{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
    /*border: black solid 5px;*/
}
#all-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    /*border: 35px solid blueviolet;*/
    padding: 1em;
    background-image: linear-gradient(#F2C1BD, #F0F2B3, #F2D6BD);
    background-repeat:repeat-y;
    margin-bottom: 15%;
}
#left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 5px solid;*/
    flex: 1 1 500px;
    /*background-color: rgba(0, 0, 0, 0.644);*/
    border-radius: 5%;
    margin-left: 10%;
}
.detalles{
    width: 80%;
    height: 60vh;
    margin: 1%;
    background-image: url(https://github.com/mariabuitsan/textiles/blob/main/assets/butterfly-nbk.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin-top: 15%;
}
.detalles-2{
    width: 80%;
    height: 50vh;
    margin: 8%;
    padding: 1.8em;
    background-image: linear-gradient(#f2d6d6f4, #eedfb2e6, #f6f0cdf4);
    opacity: 0.35;
    border: solid 55px transparent;
    border-image: url(https://github.com/mariabuitsan/textiles/blob/main/assets/jean-star.jpeg?raw=true) 80 round;
    align-content: center;
    margin-bottom: 30%;
    /*background-image: url(/assets/jeans-flower.jpeg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: center;*/
}
.detalles-2:hover{
    opacity: 1.0;
}
#right-container{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    /*border: solid 5px red;*/
    flex: 2 1 600px;
    align-items: center;
}
#prenda{
    width: 100%;
    height: 80vh;
    margin: 0%;
    /*border: solid 5px black;*/
    background-image: url(https://github.com/mariabuitsan/textiles/blob/main/assets/jeans.png?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}
#prenda:hover{
    cursor: pointer;
}
.descripcion-prenda{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 50%;
    margin-top: 15%;
    margin-left: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    /*border: solid 5px yellowgreen;*/
}
p{
    text-align: center;
    font-size: 2.25vh;
    font-weight: 350;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: rgba(19, 19, 19, 0.903);
    margin-top: 0%; 
    margin-right: 2%;
    padding: 1em;
}
h2{
    display: flex;
    align-self: flex-start;
    font-family: 'Doto', sans-serif;
    font-size: 3.5vh;
    padding: auto;
    color: rgb(9, 9, 9);
    /*text-shadow: 2px 2px 5px rgb(204, 6, 181);*/
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}
h3{
    text-align: center;
    font-size: 6.3vh;
    font-family: 'Doto', sans-serif;
    font-weight: bolder;
    margin: 0%;
    padding-left: 18%;
}
h4{
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
    font-size: 2vh;
    font-weight: 300;
    line-height: 1.5;
}
/*I'm not using this, to activate I must do something on the js file, the way it pops-up its awkard, needs fixing*/
.production{
    display: none;
    width: 100%;
    height: 5.5vh;
    margin-bottom: 5%;
    padding-bottom: 15%;
    border: solid salmon 6px;
    align-content: flex-start;
}
#detalles-3{
    display: flex;
    flex-direction: row;
    width: 25vw;
    height: 30vh;
    margin: 5%;
    margin-top: 10%;
    /*border: solid 5px black;*/
    background-image: url(https://github.com/mariabuitsan/textiles/blob/main/assets/jean-star.jpeg?raw=true);
    background-size: 100%;
    align-content: flex-end;
}
#detalles-3:hover{
    box-shadow: 10px 10px 5px 12px #fbffac;
}
a{
    color: black;
}
#container-grid{
    display: grid;
    /*border: solid 10px black;*/
    height: 100vh;
    column-gap: 3%;
    row-gap: 0%;
    grid-template-columns: auto auto auto;
    margin: 8%;
    text-overflow: hidden;
    /*background-image: url(/assets/Layer\ 0.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
}
.grid{
    width: 22vw;
    height: 22vh;
    /*border: blue solid 5px;*/
    margin-left: 5%;
    background-image: linear-gradient(#f2d6d6f4, #eedfb2e6, #f6f0cdf4);
    opacity: 0.35;
    overflow: scroll;
}
.grid:hover{
    opacity: 1;
}
.quotes{
    font-size: 2vh;
    line-height: 2;
}
.etno-notes{
    width: fit-content;
    height: fit-content;
    padding: 5%;
    margin: 5%;
    border: solid black 2.5px;
    font-size: 1vh;
    justify-items: center;
    justify-self: center;
    margin-top: 2%;
}
